@import url("https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Oswald&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #0b3948;
  height: 100%;
}
h3 {
  color: #d0cdd7;
}
h2 {
  margin-left: 20px;
  color: #d0cdd7;
  font-family: "Oswald", sans-serif;
  font-size: 48px;
}
.input-container {
  margin-top: 50px;
  text-align: center;
}
.input {
  padding: 10px 8px 10px;
  border-radius: 8px;
  margin: 20px 10px 20px;
}
.sub-btn {
  padding: 8px;
  border: none;
  border-radius: 6px;
  background-color: #416165;
  color: #d0cdd7;
  transition: all 0.3s ease;
}
.sub-btn:hover {
  color: #416165;
  background-color: #d0cdd7;
  transform: translateY(-5px);
  cursor: pointer;
}
img {
  height: 400px;
  width: 422px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.logo {
  position: absolute;
  top: 2%;
  left: 70%;
  width: 150px;
  height: 150px;
}
.container {
  display: grid;
  grid-column-gap: 1em;
  grid-row-gap: 5em;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 10px 50px 10px;
}

.container-item {
  transition: all 0.3s;
}
.container-item:hover {
  cursor: pointer;
  transform: translateY(-30px);
}
.txt-container {
  font-family: "Roboto Mono", monospace;
  color: #fff;
}
.break {
  padding: 10px;
  border-radius: 4px;
  margin: 30px 100px 10px;
  border: none;
  outline: none;
  background-color: #416165;
  color: #d0cdd7;
}
.break:hover {
  box-shadow: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25);
  background-color: #d0cdd7;
  color: #416165;
  cursor: pointer;
  transition: all 0.3s;
}
.title {
  color: #edeec0;
}
#message-el {
  font-style: oblique;
}
.Game-container {
  display: none;
  text-align: center;
  position: absolute;
  top: 25%;
  left: 32%;
  margin: auto auto auto;
  width: 500px;
  height: 500px;
  background: #416165;
  color: black;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  border-radius: 12px;
}
button {
  color: #fff;
  width: 150px;
  background-color: black;
  margin: 10px 10px;
  border: none;
  border-radius: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bolder;
}
button:hover {
  opacity: 0.7;
  cursor: pointer;
}
.close {
  border: none;
  margin-top: 20px;
  color: #fff;
  background-color: #a63d40;
}
@media (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 100px;
    margin-right: 20px;
  }
  img{
    width: 50%;
  }
  .logo {
    display: block;
    left: 5%;
  }

  .input-container {
    display: block;
    margin-top: 200px;
  }
  .Game-container {
    width: 200px;
    height: 350px;
    top: 60%;
  }
}
